<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Lixo Que Não é Lixo</title>
    </head>



    <body>
        <div>
            <div>
                <div>
                    <h1><p>{{titulo}}</p></h1>
                    <h3><p>{{mensagem}}</p></h3>
                </div>
            </div>
        </div>

        {% block rodape %}
            <!-- /.container -->

            <div>
                <br/><br/>
                <hr>

                <!-- Footer -->
                <footer>
                    <div>
                        <div class="col-lg-12">
                            <p>Lixo que não é Lixo  - testeletiva@gmail.com</p>
                            <p>ICEA &copy; LQNL 2015</p>
                        </div>
                    </div>
                </footer>

            </div>
        {% endblock %}

    </body>


</html>