{% extends '::templateAllAdmin.html.twig' %}

{% block container %}

    <div class="thumbnail col-md-9">

        <img class="img-responsive" style="width: 500px;" src="{{asset('bundles/autenticacao/images/logo.jpg')}}" alt="Logo LQNL">
        <div class="caption-full">
            <br><br>
            <div class="list-group-item lead well-sm">
                <p><label>Nome:</label> {{usuario.nome}}</p>
                <p><label>E-mail:</label> {{usuario.username}}</p>                    
            </div>


        </div>
    </div>

{% endblock %}
